<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/02ee3334f0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Quotes app - Paminos</title>
</head>
<body>

    <header>
        <h1>Quotes app</h1>
        <h2>for motivation and positive thinking..!</h2>
    </header>

    <main>

        <section class="add-quote">
            <h2>Add quote:</h2>
            <form action="/addQuote" method="post">
                <input type="text" name="quoteName" placeholder="name..">
                <input type="text" name="quoteContent" placeholder="quote..">
                <button type="submit" class="btn btn-warning">Add</button>
            </form>
        </section>

        <section class="quotes">
            <h2>Quotes</h2>
            <ul>

                <% for (let i=0; i < info.length; i++) {%>
                    <li>

                        <% if(info[i].like === true) {%>
                            <span class="highlight">
                                <em>
                                    <span class="name"><%= info[i].author %>, </span>
                                </em>
                                <span>
                                    &apos;<%= info[i].content %>&apos;
                                </span>
                            </span>
                        <% }else{ %>
                            <span>
                                <em>
                                    <span class="name"><%= info[i].author %>, </span>
                                </em>
                                <span>
                                    &apos;<%= info[i].content %>&apos;
                                </span>
                            </span>
                        <% } %>
                        
                        <span class="icons">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </li>
                <% } %>

            <!-- 
                <li><em><span class="name">George Addair, </span></em>&apos;Everything you’ve ever wanted is on the other side of fear&apos;<span class="icons"><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-trash-can"></i></span></li>
                <li><em><span class="name">Aristotle, </span></em>&apos;Knowing yourself is the beginning of all wisdom&apos;<span class="icons"><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-trash-can"></i></span></li>
                <li><em><span class="name">Joe Namath, </span></em>&apos;If you aren’t going all the way, why go at all?&apos;<span class="icons"><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-trash-can"></i></span></li>
                <li><em><span class="name">Walt Disney, </span></em>&apos;The way to get started is to quit talking and begin doing&apos;<span class="icons"><i class="fa-solid fa-thumbs-up"></i><i class="fa-solid fa-trash-can"></i></span></li>
            -->
            
            </ul>

        </section>

    </main>

    <footer>
        <p>App created by <span class="paminos">Paminos</span></p>
    </footer>

    <script src="./main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    
</body>
</html>